:root {
    --cor-primaria: rgb(135, 192, 247);
    --cor-fundo: #000000;
    --cor-texto: #ffffff;
    --fonte-padrao: 'Arial', 'Helvetica', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 50px;
    @media screen and (max-width:768px) {
        padding: 0 16px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.image-div {
    border-radius: 20px;
    width: 30%;
}

.image {
    border: 2px solid white;
    border-radius: 20px;   
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.project {
    display: flex;
    gap: 16px
}

/* Títulos */
.title {
    text-align: left;
    color: var(--cor-primaria);
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

/* Texto */
.text {
    padding: 16px;
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


/* Imagens */
.imagem-resized,
.imagem-final {
    max-width:100% ;
    display: flex;
    border-radius: 30px;
    justify-content: center;     
}

.imagem-resized img,
.imagem-final img {
    max-width: 80%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin-top: 3%;
}

